#header{
  display:flex;
  height: 50px;
  width: 100%;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content:space-between;
  align-items:center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;

}

#logo{
  display:inline-flex;
  height: inherit;

}

.options{
flex-wrap:wrap;

}

.option{
padding: 15px;
display:inline-flex;

}

.title{
padding-left: 10px;
color: MediumAquamarine;

}
*{
  border: 1px solid red !important;
}

#column{
  display:inline-flex;
  flex-flow:row wrap;

}
.large{
  display:flex;
  flex-flow:column;
  width: 630px;
}

.medium{
  display:flex;
  flex-flow:column;
  width: 300px;
  margin-left: 20px;
}

.small{
  display:flex;
  flex-flow:column;
  width: 240px;
  margin-left: 20px;
}
