body{
margin: 0;
font-family: Georgia;
font-size: 17px;
color: black;
}
header{
  display:flex;
  height: 80px;
  width: 100%;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content:space-between;
  align-items:center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  position:fixed;
  background-color: white;
  border-bottom: 1px solid black;
  z-index: 5;
  margin top: 0px;

}

.logo{
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

header nav{
padding-right: 40px;
}

.option{
display:inline-flex;
padding: 15px;

}
.logo .title{
color: MediumAquamarine;
padding-left: 15px;
}

a{
  color:black;
  }

#column{
  margin-top:100px;
  display:inline-flex;
  flex-direction:row;
  position:relative;
  z-index: 1;


}
.large{
padding-top: 33px;
  display:flex;
  flex-direction:column;
  width: 630px;
}

.medium{
  display:flex;
  flex-direction:column;
  width: 300px;
  margin-left: 20px;
}

.small{
  display:flex;
  flex-direction:column;
  width: 240px;
  margin-left: 20px;
}

.item{
display:flex;
  padding:10px;
  border-bottom: 1px solid black ;
  flex-direction: column;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
}

#graph1{
  display:flex;
  align-items:center;
  justify-content:space-between;
  width: 630px;
  height: 300px;
  background-image: url("../images/img-story-main.png");
}

h3 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.headergraph1 {
  font-size: 40px;
  padding: 15px;
}

#graph2,
#graph3,
#graph4{
  display:flex;
  align-items:center;
  text-align: center;
  justify-content:space-between;
  width: 300px;
  height: 300px;
}

#graph2{
  background-image: url("../images/img-story-2.png");
}

#graph3{
  background-image: url("../images/img-story-3.png");
}

#graph4{
  background-image: url("../images/img-story-1.png");
}

#newsparallel{
  display:inline-flex;
  flex-direction:row;
  justify-content:space-between;
}

.parallelleft{
  display:flex;
  flex-direction:column;
  width: 300px;
  margin-top: auto;

}

.parallelrigth{
  display:flex;
  flex-direction:column;
  width: 300px;
  margin-left: 23px
  margin-top: auto;
}

.news2,
.news3,
.headernews2,
.headernews3{
  width: 300px;
}

.headernews2,
.headernews3,
.headernews4{
  display:block;
  font-family: Georgia;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 0px;
}
.headernews5{
    margin-bottom: 41px;
    font-size: 16px;
    font-weight: bold;
    text-align: center
  }
p{
  font-family: Georgia;
 font-size: 17px;
 color: black;
}

footer{
 display:flex;
 flex-direction: column;
 width: 100%;
 height: 500px;
 align-content: center;
 align-items: center;
 background-color: MediumAquamarine;
 margin: auto;
 font-family: Verdana;
 font-size: 12px;
 justify-content: center;
 margin-top:80px;


}

footer .titlef{
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
}
 footer .optionf{
   align-self: center;
 }

 nav .optionf{
padding-left: 15px;
font-family: Verdana;
  font-size: 12px;
  margin-top: 10px;
 }

 .footertitle{
   display:inline-flex;
   font-family: Verdana;
  font-size: 12px;

 }
 .copyline{
   display:flex;
   padding:15px;
 }
